<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../styles/style.css">
    <title>iVcera</title>
</head>
<body>
    {{>header}}

    <main>
        <h2>Detail clanku</h2>
        <h3>Titulek: <a>{{article.title}}</a></h3>

        <div>
            <h3><p>Clanek:</h3>{{article.text}}</p>
        </div>
            <a class="link-as-button" href={{article.url}}/delete>Smazat clanek</a>
            <a class="link-as-button" href={{article.url}}/update>Aktualizovat clanek</a>
        
    </main>
    {{>footer}}
</body>
</html>