<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../styles/style.css">
    <title>iVcera</title>
</head>

<body>

    {{>header}}

    <main>
        <h2>Napis clanek</h2>
        <br>
        <form action="create" method="post">
            <label for="title">Titulek</label>
            <br>
            <input type="text" name="title" id="title" required>
            <br><br>
            <label for="text"> Obsah clanku</label>
            <br>
            <textarea name="text" id="text" cols="60" rows="10"></textarea>

            <button type="submit">Odeslat</button>
        </form>

        <p>{{errorMessage}}</p>

    </main>

    {{footer}}

</body>
</html>