<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <title>iVcera</title>
</head>
<body>
    {{>header}}
    <main>
    <div class="login">
        <h1>Prihlaseni</h1>
    <form action="/users" method="POST">

    <label for="username">Login:</label><br>
    <input type="text" name="username" id="username" placeholder="username" required>
    <br><br>
    <label for="password">Heslo:</label><br>
    <input type="password" name="password" id="password" required>
    <br><br>
    <button type="submit">Přihlásit se</button>
    </form>
    </div>
    </main>



    {{>footer}}

</body>
</html>