<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <title>iVcera</title>
</head>
<body>
    {{>header}}
    <main>
    
    <h1>Zalozte si ucet</h1>
    <br>
    <form action="/register" method="POST">

    <label for="username">Uživatelské Jméno:</label><br>
    <input type="text" name="username" id="username" placeholder="username" required>
    <br><br>
    
    <label for="email">Email:</label><br>
    <input type="email" name="email" id="email" placeholder="email" required>
    <br><br>

    <label for="password">Heslo:</label><br>
    <input type="password" name="password" id="password"  required>
    <br><br>

    <button type="submit">Registrovat se</button>
    </form>
    
    </main>
    {{>footer}}
</body>
</html>