<header>
    <h1 class="title">{{title}}</h1>
    <nav class="topnav">
       
       <a href="/articles">Clanky</a>
        <a href="/register"> Registrace</a>
        <a href="/users/me">Muj profil</a>
        <a href="/logout">Odhlasit se</a>
        
    </nav>

</header>